body,
html {
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #9f98e8;
  background-image: linear-gradient(to right, #9f98e8, #aff6cf);
}
