body,
html {
  /* width: 100%; */
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  background-color: #fc575e;
  background-image: linear-gradient(to right, #fc575e, #90d5ec);
}
